# Python
__pycache__/
*.py[cod]
*.pyo

# Virtual environment
env/
venv/
ENV/

# Django
*.sqlite3
/media/
/staticfiles/

# Environment
.env

# VS Code
.vscode/

# OS
.DS_Store
Thumbs.db
